<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">
    <head>

    <link rel="stylesheet" href="@Url.Content("../css/Search.css")" type="text/css" />
        
    
    
    </head>
   
    
    
    <body></body>




</html>
@{
    ViewData["Title"] = "Search";

    <form asp-action="SearchResults">
    <div class="form-group">
        <h1>Zoeken naar een dier</h1>
        <input name="SearchNaam" type="text" placeholder="Naam van het dier"/>
        <br />
        <input id="btnsearch" class="btn btn-primary" type="submit" value="Search" />
        </div>
    </form>
}
